# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

# Personal irectory with testing files
example
example/*
node_modules

# Support Type Dir
build/types/*
build/types