@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?srf3rx);
  src: url(../fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(../fonts/icomoon/icomoon.woff?srf3rx) format("woff"), url(../fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Inconsolata, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #ccc;
  background: #000;
  height: 100%;
  position: relative;
}

a {
  color: #8c7676;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:active, a:focus, a:hover {
  color: #8c7676;
  outline: 0;
}

p {
  margin-bottom: 1.5em;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: Inconsolata, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #8c7676;
}

::-moz-selection {
  color: #fff;
  background: #8c7676;
}

::selection {
  color: #fff;
  background: #8c7676;
}

#image-data-counters, #section-main, #section-results, #section-team {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  #image-data-counters, #section-main, #section-results, #section-team {
    padding: 2em 0;
  }
}

#section-main {
  padding-bottom: 0;
}

.section-results {
  padding-bottom: 40px;
}

.results-grouped .project-grid {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
  display: table;
}

@media screen and (max-width: 768px) {
  .results-grouped .project-grid {
    height: 400px;
  }
}

.results-grouped .project-grid .desc {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .results-grouped .project-grid .desc {
    opacity: 1;
  }
}

.results-grouped .project-grid .desc h3 {
  margin-bottom: 10px;
}

.results-grouped .project-grid .desc h3 a {
  color: #fff;
}

.results-grouped .project-grid .desc h3 a:focus, .results-grouped .project-grid .desc h3 a:hover {
  text-decoration: none;
}

.results-grouped .project-grid .desc span {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
}

.results-grouped .project-grid .desc p {
  padding: 0;
}

.results-grouped .project-grid .desc p a {
  padding: 0;
  color: #fff;
}

.results-grouped .project-grid .desc p a:focus, .results-grouped .project-grid .desc p a:hover {
  text-decoration: none;
}

.results-grouped .project-grid:hover .desc {
  opacity: 1;
}

.subsection-encoder-decoder {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
}

.subsection-encoder-decoder .grid2 {
  width: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .subsection-encoder-decoder .grid2 {
    width: 100%;
  }
}

.subsection-encoder-decoder .grid2 .subsection-e-d {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.subsection-encoder-decoder .grid2 .subsection-e-d h3 {
  margin-bottom: 10px;
}

.subsection-encoder-decoder .grid2 .subsection-e-d .encoder-decoder-step-container {
  margin-bottom: 2em;
}

.subsection-encoder-decoder .grid2 .subsection-e-d .encoder-decoder-step-container i {
  float: left;
  color: #8c7676;
  font-size: 28px;
}

.subsection-encoder-decoder .grid2 .subsection-e-d .encoder-decoder-step-container .encoder-decoder-step {
  padding-left: 50px;
}

.image-data-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.image-data-counters .data-counter {
  font-size: 30px;
  display: block;
  color: #fff;
  font-family: Inconsolata, Arial, sans-serif;
  width: 100%;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.image-data-counters .data-counter-label {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: block;
}

#section-team .team-box {
  position: relative;
  padding: 30px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  #section-team .team-box {
    margin-bottom: 110px;
  }
}

#section-team .team-box .user {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

#section-team .team-box .user img {
  width: 80%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#section-team .team-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

#section-team .team-box .position {
  font-size: 16px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}

#section-team .team-box .social-media {
  margin: 0;
  padding: 0;
}

#section-team .team-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}

#section-team .team-box .social-media li a {
  color: rgba(255, 255, 255, 0.8);
}

#section-team .team-box .social-media li a:active, #section-team .team-box .social-media li a:focus, #section-team .team-box .social-media li a:hover {
  text-decoration: none;
  color: #8c7676 !important;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.section-heading h2 {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  padding-bottom: 10px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}

.section-heading h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  display: block;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: #464646;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
  box-shadow: none;
  background: #8c7676;
}

.btn:active, .btn:focus, .btn:hover {
  background: #8c7676 !important;
  color: #fff;
  outline: 0 !important;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}

.social li a i {
  display: table-cell;
  vertical-align: middle;
}

.social li a:active, .social li a:focus, .social li a:hover {
  text-decoration: none;
  border-bottom: none;
}

.social li a.social-box {
  background: #8c7676;
  color: #fff;
}

.social li a:hover {
  background: #393e46 !important;
}

.social.social-box a {
  background: #8c7676;
  color: #fff;
}

.js .to-animate, .js .to-animate-2, .js .to-animate-3 {
  opacity: 0;
}

.message-input {
  background-color: #000;
  color: #ccc;
}

.crypto-image-logo {
  height: 60px;
}

input[type="file"]::file-selector-button {
  display: none;
}

.file-input {
  background-color: #000;
  color: #ccc;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #1b1b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1b;
}

/* Tooltip container */
.hidden-tooltip {
  color: transparent;
  transition: all .25s ease-in;
}

.encoder-decoder-step:hover .hidden-tooltip {
  color: red;
  font-weight: 700;
}

.permamently-transparent {
  color: transparent !important;
}

/* Image container */

.image-container {
  display: flex;
  justify-content: center;
}

.results-grouped .alt-project-grid {
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
  display: table;
}

@media screen and (max-width: 768px) {
  .results-grouped .alt-project-grid {
    height: 400px;
  }
}

.results-grouped .alt-project-grid .desc {
  vertical-align: middle;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .results-grouped .alt-project-grid .desc {
    opacity: 1;
  }
}

.results-grouped .alt-project-grid .desc h3 {
  margin-bottom: 10px;
}

.results-grouped .alt-project-grid .desc h3 a {
  color: #fff;
}

.results-grouped .alt-project-grid .desc h3 a:focus, .results-grouped .alt-project-grid .desc h3 a:hover {
  text-decoration: none;
}

.results-grouped .alt-project-grid .desc span {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
}

.results-grouped .alt-project-grid .desc p {
  padding: 0;
}

.results-grouped .alt-project-grid .desc p a {
  padding: 0;
  color: #fff;
}

.results-grouped .alt-project-grid .desc p a:focus, .results-grouped .alt-project-grid .desc p a:hover {
  text-decoration: none;
}

.results-grouped .alt-project-grid:hover .desc {
  opacity: 1;
}


.display-original-img {
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.image-container-original:before, .image-container-original:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #8c7676, #bbc09c, #a89898,#dbba5f, #ebd451, #b99c65,  #ebd58e, #e6b371,#fad635, #dfcbad);
  background-size: 320%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}


@keyframes steam {
  0% { background-position: 0 0; }
  50% { background-position: 320% 0; }
  100% { background-position: 0 0; }
}

.image-container-original:after {
  filter: blur(50px);
}

.encoded-image-display {
  border-radius: 10px;
  border: 2px solid #8c7676;
  transition: transform 0.66s ease;
  max-width: 300px;
}

.encoded-image-display:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.author-photo {
  border: 2px solid #8c7676;
}

.fullscreen {
  visibility: hidden;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: rgba(0,0,0,0.9);
  align-items: center;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  transform: scale(0.95);
  transition: opacity 0.2s, visibility 0.2s;
  transition: transform 0.4s ease;
  border: 2px solid #8c7676;
}

.fullscreen img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.25s ease;
}

.fullscreen:target {
  visibility: visible;
  outline: none;
  cursor: default;
}

.fullscreen:target img {
  transform: scale(1);
}

.form-control:focus{
  border-color: #8c7676;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-check-label input {
  opacity: 0;
  position: absolute;
}

.form-check-label {
  display: flex;
  align-items: center;
}

.form-check-label .checkbox-custom {
  background: #393e46;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.form-check-label .checkbox-custom::after {
  content: "✓";
  font-size: 13px;
  color: white;
  opacity: 0;
}

.checkbox-custom {
  margin-bottom: 2px;
  margin-right: 7px;
}

.checkbox-custom:hover {
  cursor: pointer;
  border-color: #8c7676;
  box-shadow: 0 0 0 2px #8c76768f;
}

.form-check-input:hover {
  cursor: pointer;
  border-color: #8c7676;
}

.form-check-label:hover {
  cursor: pointer;
  border-color: #8c7676;
}

.form-check-label input:checked ~.checkbox-custom {
  background-color: #8c7676;
}

.disabled-download-option {
  color: red;
  cursor: not-allowed !important;
}


.form-check-label:hover .capacity-counter-info {
  opacity: 1;
  transition: 0.3s;
}

.form-check-label input:checked ~.checkbox-custom::after {
  color: black;
  left: 2px;
  opacity: 1;
  position: relative;
  top: -9px
}

.capacity-counter-text {
  color: rgba(202, 202, 202, 0.5);
}

.capacity-counters {
  float: right;
}

.capacity-counter-width {
  display: inline-block;
  text-align: center;
  
}

.capacity-counter-info {
  opacity: 0;
  transition: 0.3s;
  font-weight: 400;
  color: #8c7676;
}

.hidden-div {
  display: none !important;
  visibility: hidden !important;
}